.sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  min-height: 24px;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.15s ease-out;
}

.sidebar-item__icon-container {
  position: relative;
  display: flex;
  align-items: center;
  flex: none;
  justify-content: center;
  margin-right: 16px;
  width: 26px;
  height: 26px;
  text-align: center;
}

.sidebar-item__icon {
  flex: none;
  font-size: 24px;
}

.sidebar-item__counter {
  position: absolute;
  right: -4px;
  top: -2px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  box-shadow: none;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: #fd5d93;
}

.sidebar-item__mini-container {
  display: none;
  flex: none;
  width: 24px;
  height: 18px;
  font-size: 18px;
  text-align: center;
}

.sidebar-item__icon-mini {
  display: block;
  margin: 0 auto;
}

.sidebar-item__mini-container + .sidebar-item__icon-container {
  display: none;
}

.sidebar-item__box {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

.sidebar-item__content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-item__drop-arrow {
  margin-right: 4px;
  margin-left: auto;
  font-size: 12px;
}

.sidebar-item__nested .sidebar-item {
  padding-left: 52px;
  min-height: 18px;
  font-size: 0.88em;
  transition: padding-left 0.3s ease, background-color 0.15s ease-out;
  will-change: padding-left;
}

.sidebar-item__nested .sidebar-item__icon {
  font-size: 14px;
}

.sidebar-item:hover,
.sidebar-item:focus {
  outline: none;
  background-color: #fff;
}

.sidebar-item:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.sidebar-item:last-child {
  margin-bottom: 0;
}

.sidebar-item--active {
  position: relative;
  background-color: #fff;
}

.sidebar-item--active::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 8px;
  bottom: 8px;
  display: block;
  width: 2px;
  background-color: currentColor;
}

@media (min-width: 768px) {
  .sidebar-item {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .sidebar--collapsed .sidebar-item__mini-container {
    display: block;
  }

  .sidebar--collapsed .sidebar-item__box {
    opacity: 0;
    transform: translate3d(-16px, 0, 0);
  }

  .sidebar--collapsed .sidebar-item__mini-container + .sidebar-item__box {
    display: none;
  }

  .sidebar--collapsed .sidebar-item__nested .sidebar-item {
    padding-left: 10px;
  }

  .sidebar--collapsed .sidebar-item__nested .bex-sidebar-item {
    padding-left: 0;
  }
}
