.theme-color-picker {
  display: flex;
  align-items: center;
}

.theme-color-picker__button {
  margin-right: 12px;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: none;
  cursor: pointer;
  transition: transform 0.15s ease-out;
}

.theme-color-picker__button:last-child {
  margin-right: 0;
}

.theme-color-picker__button:hover,
.theme-color-picker__button:focus {
  transform: scale(1.1);
}
