html.is-sidebar-mobile-opened {
  overflow: hidden;
}

.sidebar {
  position: relative;
  padding: 0;
  width: var(--sidebar-width);
  height: 100%;
  box-sizing: border-box;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  will-change: width;
}

.sidebar__overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 100%;
  background-color: rgba(189, 196, 198, 0.25);
  opacity: 0;
}

.sidebar * {
  box-sizing: inherit;
}

.sidebar__toggler {
  display: none;
  outline: none;
  border: none;
  padding: 12px 20px;
  width: 100%;
  box-shadow: none;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.sidebar__toggler:focus {
  outline: none;
}

.sidebar__inner {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(
      180deg,
      var(--accent-gradient-color-1) 0%,
      var(--accent-gradient-color-2) 52%,
      var(--accent-gradient-color-3) 100%
    );
  background-color: #fff;
}

.sidebar__top {
  position: relative;
  width: 100%;
}

.sidebar__top::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 1px;
  background-color: #bdd9ed;
}

.sidebar__navlist {
  display: flex;
  align-items: flex-start;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;

  /* Hide scrollbar */
  -ms-overflow-style: none;
  overscroll-behavior: contain;
  scrollbar-width: none;
}

.sidebar__navlist::-webkit-scrollbar {
  display: none;
}

.sidebar__navsection {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 16px 20px;
  width: 100%;
}

.sidebar__navsection::before {
  content: "";
  position: absolute;
  left: 8px;
  right: 8px;
  top: 0;
  display: block;
  height: 1px;
  background-color: rgba(#fff, 0.5);
}

.sidebar__navitem {
  margin-bottom: 8px;
  padding: 0;
}

.sidebar__navitem:last-child {
  margin-bottom: 0;
}

.sidebar__bottom {
  position: relative;
  padding: 12px 20px;
  width: 100%;
}

.sidebar__bottom::before {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  top: 0;
  height: 1px;
  background-color: #bdd9ed;
}

.sidebar--mobile-opened {
  transform: translate3d(0, 0, 0);
}

.sidebar--mobile-opened .sidebar__inner {
  box-shadow: 1px 2px 10px rgba(34, 49, 59, 0.1);
}

.sidebar--mobile-opened .sidebar__overlay {
  display: block;
  animation: showOverlay 0.2s ease-out 0.5s forwards;
}

@keyframes showOverlay {
  100% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  html.is-sidebar-mobile-opened {
    overflow: auto;
  }

  .sidebar {
    border-radius: 6px;
    width: var(--sidebar-width);
    transform: translate3d(0, 0, 0);
    transition: width 0.3s ease;
  }

  .sidebar__overlay {
    display: none;
  }

  .sidebar--mobile-opened .sidebar__overlay {
    display: none;
  }

  .sidebar__toggler {
    display: block;
  }

  .sidebar--collapsed {
    width: var(--sidebar-collapsed-width);
  }
}
