.copyright {
  display: inline-block;
}

.copyright__link {
  text-decoration: none;
  color: var(--color-copyright-link);
}

.copyright__link:hover,
.copyright__link:focus {
  text-decoration: underline;
}
