.auth-form {
  position: relative;
  margin: auto;
  padding: 0 10px;
  width: 100%;
  max-width: 424px;
}

.auth-form__bg-image--left {
  display: none;
}

.auth-form__bg-image--right {
  position: absolute;
  left: 50%;
  bottom: calc(100% - 4px);
  width: 147px;
  height: 85px;
  transform: translateX(-50%);
}

.auth-form__form {
  position: relative;
  margin: auto;
  border-radius: 10px;
  padding: 26px 34px 60px;
  width: 100%;
  box-shadow: 1px 4px 25px rgba(95, 108, 114, 0.2);
  background-color: #fff;
}

.auth-form__messages-box {
  margin-bottom: 12px;
  min-height: 20px;
}

.auth-form__message {
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  color: #e11961;
}

.auth-form__controls {
  margin-top: 44px;
  text-align: center;
}

@media (max-height: 560px) {
  .auth-form__bg-image--right {
    display: none;
  }
}

@media (min-width: 768px) {
  .auth-form {
    margin: auto;
    padding: 0;
  }

  .auth-form__bg-image--right {
    left: 50%;
    width: 340px;
    height: 173px;
    transform: translateX(-50%);
  }

  .auth-form__form {
    padding: 30px 62px 76px;
    font-size: 20px;
    line-height: 23px;
  }

  .auth-form__messages-box {
    margin-bottom: 16px;
    min-height: 24px;
  }

  .auth-form__message {
    font-size: 18px;
  }

  .auth-form__controls {
    margin-top: 58px;
  }

  @media (max-height: 800px) {
    .auth-form__bg-image--right {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .auth-form__bg-image--left {
    position: absolute;
    left: auto;
    right: calc(100% - 20px);
    bottom: 30%;
    display: block;
    width: 319px;
    height: 162px;
  }

  .auth-form__bg-image--right {
    position: absolute;
    left: calc(100% - 20px);
    bottom: 30%;
    display: block;
    width: 319px;
    height: 162px;
    transform: none;
  }
}

@media (min-width: 1280px) {
  .auth-form__bg-image--left {
    right: calc(100% - 20px);
    bottom: 30%;
  }

  .auth-form__bg-image--right {
    left: calc(100% - 20px);
    bottom: 30%;
  }
}

@media (min-width: 1440px) {
  .auth-form__bg-image--left {
    right: calc(100% - 8px);
    bottom: 28%;
    width: 348px;
    height: 173px;
  }

  .auth-form__bg-image--right {
    left: calc(100% - 26px);
    bottom: 28%;
    width: 350px;
    height: 173px;
  }
}
