.auth-page {
  display: flex;
  overflow-x: hidden;
  padding: 40px 0;
  height: 100vh;
  font-size: 16px;
  line-height: 1.15;
  background: linear-gradient(180deg, #fff0fc 0%, #eceaff 51.56%, #e1f1ff 100%);
}

.auth-page__input {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .auth-page {
    background: #fff;
  }
}
