.auth-button {
  position: relative;
  margin: 0 auto;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 11px 42px;
  min-width: 137px;
  min-height: 42px;
  box-shadow: none;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.auth-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid currentColor;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
}

.auth-button:hover::before,
.auth-button:focus::before {
  border-width: 2px;
}
