.auth-field {
  display: flex;
  align-items: center;
  width: 100%;
}

.auth-field + .auth-field {
  margin-top: 44px;
}

.auth-field__icon {
  margin-right: 13px;
  font-size: 22px;
  color: #237b98;
}

.auth-field__input-box {
  position: relative;
  width: 100%;
}

.auth-field__input {
  position: relative;
  z-index: 2;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-right: 40px;
  padding-left: 15px;
  width: 100%;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.15;
  color: #626167;
  background-color: #edfafe;
}

.auth-field__input:hover {
  border-color: #cff2fd;
}

.auth-field__input:focus {
  outline: none;
  border-color: #edfafe;
  background-color: #e4f7fd;
}

.auth-field__error {
  position: absolute;
  right: 0;
  bottom: 100%;
  border-radius: 5px;
  padding: 4px 16px;
  min-width: 210px;
  max-width: 100%;
  box-shadow: 0 12px 0 0 #d14f67;
  font-size: 14px;
  line-height: 1.18;
  text-align: end;
  color: #fff;
  background-color: #d14f67;
}

.auth-field__show-password {
  position: absolute;
  right: 9px;
  top: 10px;
  z-index: 5;
  outline: none;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.auth-field__view {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #237b98;
}

.auth-field__view:hover {
  color: #3eb5dd;
}

.auth-field__view:active {
  color: #0788b4;
}

.auth-field--invalid .auth-field__input {
  border-color: #d14f67;
}

@media (min-width: 768px) {
  .auth-field__icon {
    margin-right: 31px;
    font-size: 35px;
  }

  .auth-field__input {
    padding-right: 70px;
    padding-left: 30px;
    height: 54px;
    font-size: 18px;
    line-height: 21px;
  }

  .auth-field__error {
    padding-right: 32px;
    padding-left: 32px;
    min-width: 290px;
    font-size: 16px;
  }

  .auth-field__show-password {
    right: 32px;
    top: 13px;
  }

  .auth-field__view {
    font-size: 24px;
  }
}
